<!DOCTYPE html>
<html ng-app="ProgressArc">
<head>
    <title>Progress Arc</title>
    
    <link rel="stylesheet" type="text/css" href="extras/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    
    <!-- D3.js -->
    <script src="extras/d3/d3.min.js"></script>
    
    <!-- Custom Angular Application -->
    <script src="app.js"></script>

    
</head>
<body ng-controller="getNumbers">
    
        <h1>Progress Arc</h1>
    
        <div id="inputs">
            Expected: <input type="number" step="0.01" min="0" max="1" ng-model="values.expected">
            Actual: <input type="number" step="0.01" min="0" max="1" ng-model="values.actual" autofocus>
        </div>

        <div id="visualization" ng-progressbar ng-model="values">    
        </div>
    
</body>
</html>